.fw-black {
    font-weight: 900;
}

.table {
    thead th {
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 700;
    }
}

// Lógica de impresión para el ticket
@media print {

    .container-fluid,
    nav,
    aside,
    button {
        display: none !important; // Esconde todo el dashboard
    }

    // Aquí iría el contenedor de tu ticket térmico si lo tienes en el mismo HTML
    #ticket-termico {
        display: block !important;
        width: 80mm;
        font-family: 'Courier New', Courier, monospace;
    }
}